:root {
  --purple: rgb(81, 40, 136);
  --purple0: #5c3865;
  --purple1: #7b6b7f;
  --purple2: #2f1934;
  --green: #009F6B;
  --green-fade-1: #009f6bbf;
  --green1: #59e45ffa;
  --green-gray: #0c6a4b;
  --light-green: #56bb96;
  --light-green0x33: #56bb9633;
  --light-green-11: #56bb9611;
  --light-green2: #94d5c0;
  --light-purple: #7c5ea6;
  --light-purple2: #644195;
  --gray-bg: #eeeeee;
}

html {
  font-size: 14px;
}

a {
  &[href^="/"] {
    text-decoration: none;
  }
}
.hidden {
  display: none;
}
.page-anchor__container {
  position: relative;
}
.page-anchor__anchor {
  position: absolute;
  top: -100px;
  width: 1px;
  height: 0px;
}

.hero-content__title {
  text-shadow: 0px 3px 3px black;
}

.hero-content__subtitle {
  font-size: 1.2rem;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.button {
  position: relative;
  cursor: pointer;
  background-color: var(--light-green0x33);
  padding: 0.5rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  color: transparent;
  font-family: helvetica, sans-serif;
  margin-top: 2rem;
  transition: box-shadow 100ms;
  span {
    color: black;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0.5rem 1rem;
    transition: 100ms;
    &:hover {
      color: white;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    top: 100%;
    left: 0;
    transition: 100ms;
  }
  &:hover {
    box-shadow: 0 0 50px rgba(0,0,0,.085);
    &:before {
      transition: 300ms;
      top: 0;
    }
    transition: 200ms;
  }
  &:active {
    transition: 200ms;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

label {
  margin-left: 3px;
}

.form__submit {
  width: 100%;
  margin-top: 0.5rem;
}

h1, h2 {
  margin-bottom: 1em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  color: var(--purple);
}

p {
  line-height: 1.5rem;
}

img {
  margin: 0;
}

blockquote {
  font-family: "Alegreya";
  position: relative;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  min-height: 47px;
  max-width: 1000px;
  margin: 0.5rem auto;
  padding: 2rem;
  color: white;
  text-indent: 2.5rem;
  line-height: 22px;
  &:before {
    content: "";
    background: url("../../images/quote.png") top left no-repeat;
    background-size: 40px 30px;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.inline {
  display: inline;
}

.form-container {
  max-width: 30rem;
  margin: 0 auto 2rem auto;
}

.form-message {
  position: relative;
  opacity: 0;
  padding: 0.25rem 1rem;
  margin: 1rem 0;
  > p {
    margin-right: 1.5rem;
    margin-top: 0.2rem;
  }
}

.form-message--error, .form-message--success {
  opacity: 1;
  border: 1px solid #bababa;
  border-radius: 7px;
  box-shadow: 4px 3px 16px -8px black;
}

.form-message--error {
  background-color: #FFD2D2;
  color: #D8000C;
}

.form-message--success {
  background-color: #DFF2BF;
  color: #4F8A10;
}

.form-message__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 1rem;
  height: 1rem;
}

.bad-form > p {
  opacity: 1;
}

input:focus, textarea:focus {
  outline-color: var(--purple);
}

p {
  margin: 1rem 0 0.15rem 0;
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

li {
  margin-bottom: 0.2rem;
}

.inline-anchor {
  text-decoration: none;
  font-weight: bold;
  color: var(--green);
  cursor: pointer;
  &:hover {
    color: var(--purple);
  }
}

.blockquote--small {
  font-size: 18px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-indent: 2rem;
  &:before {
    background-size: 30px 20px;
    top: 10px;
    width: 30px;
    height: 21px;
  }
  &:after {
    background-size: 30px 20px;
    bottom: 0;
    right: 60px;
    width: 30px;
    height: 21px;
  }
}

.blockquote-wrapper {
  padding: 1rem;
}

.app-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-bg);
  z-index: -100000000;
}

.app-container {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  background-color: white;
  overflow: hidden;
}

.margin-top {
  margin-top: 3rem;
}

.container {
  padding: 0 2rem 2rem 2rem;
  position: relative;
  z-index: 0;
  box-sizing: content-box;
  overflow: hidden;
}
.container--max-width {
  max-width: 1000px;
  margin: 0 auto;
}
.container--pad-bottom {
  padding-bottom: 3rem;
}
.container--pad-small {
  padding: 0.75rem;
  padding-top: 0;
}
.container--pad-top, .section--pad-top {
  padding-top: 2rem;
}
.container--hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section {
  position: relative;
  padding-top: 2rem;
  z-index: 0;
}
.overflow-hidden {
  overflow: hidden;
}

.purple { color: var(--purple);}
.purple0 { color: var(--purple0);}
.purple1 { color: var(--purple1);}
.purple2 { color: var(--purple2);}
.green { color: var(--green);}
.light-green { color: var(--light-green);}
.light-green2 { color: var(--light-green2);}
.light-purple { color: var(--light-purple);}
.light-purple2 { color: var(--light-purple2);}
.green-gray { color: var(--green-gray);}
.white { color: white;}
.bg--white { background-color: white;}
.bg--purple { background-color: var(--purple);}
.bg--green { background-color: var(--green);}
.bg--green1 { background-color: var(--green1);}
.bg--light-green { background-color: var(--light-green);}
.bg--light-green2 { background-color: var(--light-green2);}
.bg--light-purple { background-color: var(--light-purple);}
.bg--green-fade { background-color: var(--green-fade-1);}

.big-lines {
  line-height: 26px;
}

.link {
  color: white;
  text-decoration: none;
}

.mandala-slideshow {
  & * {
    height: 100%;
  }
  & .image-gallery-slides {
    text-align: center;
  }
  & .image-gallery-slide img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  & .image-gallery-image {
    height: 100%;
  }
}

.background-cover-parent, .background-cover-parent2 {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background--mfr-hero, .background--about-hero {
  background: linear-gradient(135deg, var(--light-purple), var(--light-green));
}

.background--eft-hero, .background--services-hero {
  background: linear-gradient(135deg, #583785, rgb(191, 125, 254));
}

.background--sound-bathing-gratitude-hero {
  background: linear-gradient(135deg, rgb(0, 141, 132) 0%, rgb(155, 213, 158) 100%);
}

.background-cover--darken {
  background: rgba(0, 0, 0, 0.3);
}

.background--yoga-meditation-hero {
  background: linear-gradient(135deg, rgba(81, 40, 136, 1) 0%, rgb(244, 202, 201) 100%);
}
.background--mandala-hero, .background--packages-hero {
  background: linear-gradient(135deg, rgb(25, 161, 110) 0%, rgb(165, 147, 194) 100%);
}

.bg-darken {
  background: linear-gradient(135deg, rgb(25, 161, 110) 0%, rgb(165, 147, 194) 100%);
}

.mandalas-banner {
  height: 100%;
  display: flex;
  justify-content: center;
  > * {
    flex: 1;
    display: none;
    &:first-child {
      display: inherit;
    }
  }
}


.button-cta-1 {
  background: linear-gradient(#70eeff, #45E9FF);
  background: linear-gradient(#25d195, #009F6B);
  border: none;
  border-radius: 5px;
}

.mobile-hidden {
  display: none;
}

.shadow {
  text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.152);
}

.box-shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.page-banner {
  width: 100%;
  height: 7rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-banner--services {
  background-image: url("../../images/flowers2.jpg");
}

.page-banner--packages {
  background-image: url("../../images/flowers4_big.jpg");
}

.page-banner--about {
  background-image: url("../../images/flowers7.jpg");
}

.package-series-list > {
  h3 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  ul {
    list-style-type: disc;
    margin-left: 2rem;
    > li {
      margin-bottom: 0.25rem;
    }
  }
}

.mandala-gallery {
  padding: 0 2rem 2rem 2rem;
  max-width: 25rem;
  margin: 0 auto;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 0;
  background-color: white;
  padding: 0 1rem;
  -webkit-box-shadow: 0px -3px 21px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 21px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 21px 3px rgba(0, 0, 0, 0.5);
}

.header__inner_container {
  padding: 0 2rem;
  max-width: 1172px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.site-logo {
  height: 3.5rem;
  margin: 1rem 0;
  img {
    height: 100%;
  }
}

.sm-img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

.flex--row {
  display: flex;
  align-items: center;
}

.flex--wrap {
  flex-wrap: wrap;
}

.footer {
  position: relative;
  padding: 1em;
  background-color: var(--gray-bg);
  z-index: 0;
  background: linear-gradient(#dbdbff, rgba(27, 127, 37, 0.68));
}

.footer-grid {
  display: grid;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.grid-one {
  grid-row: 1;
}

.grid-two {
  grid-row: 2;
}

.hero-text {
  font-size: 24px;
}

.slanted-section-decorator {
  height: 70px;
  overflow: hidden;
  position: relative;
  &:after {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100px;
    transform: skewY(-1.2deg);
    transform-origin: left;
    content: "";
    z-index: 0;
  }
}

.slanted-section-decorator--purple:after {
  background-color: var(--purple);
}

.slanted-section-decorator--green:after {
  background-color: var(--light-green);
}
.slanted-section-decorator--mfr:after {
  background: linear-gradient(172deg, var(--light-purple), var(--light-green));
  opacity: 0.8;
}
.slanted-section-decorator--eft:after {
  background: linear-gradient(172deg, #583785, #bf7dfe);
  opacity: 0.8;
}
.slanted-section-decorator--yoga-meditation:after {
  background: linear-gradient(172deg, #512888, #f4cac9);
  opacity: 0.8;
}
.slanted-section-decorator--sound-bathing-gratitude:after {
  background: linear-gradient(172deg, #008d84, #9bd59e);
  opacity: 0.8;
}
.slanted-section-decorator--packages:after {
  background: linear-gradient(172deg, #19a16e, #a593c2);
  opacity: 0.8;
}

/* CTA buttons */

.desktop-menu {
  font-size: 1rem;
  margin: 0;
  & a {
    display: block;
    width: 100%;
    height: 100%;
  }
  > li {
    line-height: 5.5rem;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    &:last-child, & > a {
      padding: 0 1rem;
    }
    &:hover::after {
      background-color: var(--purple);
    }
    &::after {
      content: "";
      position: absolute;
      width: 70%;
      left: 15%;
      top: 60%;
      height: 3px;
      background-color: #cfcfcf;
      pointer-events: none;
    }
    > ul {
      margin: 0;
      position: absolute;
      z-index: 1000000;
      top: 100%;
      left: 0;
      display: none;
      width: 200%;
      background-color: white;
      padding: 0 ;
      box-shadow: -8px 8px 23px -11px black;
      > li {
        line-height: 1rem;
        display: block;
        margin: 0;
        & > a {
          padding: 1.5rem 0.7rem;
        }
        &:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }
      }
    }
    &:hover > ul {
      display: block;
    }
  }
  & li:hover {
    transition: 200ms;
    background-color: #ddd;
    cursor: pointer;
  }
  & li::after, & li {
    transition: 50ms;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 667px) {
  .mandalas-banner {
    > *:nth-child(2) {
      display: inherit;
    }
  }
}

@media screen and (min-width: 976px) {
  .mandalas-banner {
    > *:nth-child(3) {
      display: inherit;
    }
  }
  .mandala-gallery {
    float: right;
  }
  .mobile-only {
    display: none;
  }
  .mobile-hidden {
    display: block;
  }
}

@media screen and (min-width: 1080px) {
  html {
    font-size: 16px;
  }
}
