  :root {
  --purple: rgb(81, 40, 136);
  --purple0: #5c3865;
  --purple1: #7b6b7f;
  --purple2: #2f1934;
  --green: #009F6B;
  --green-fade-1: #009f6bbf;
  --green1: #59e45ffa;
  --green-gray: #0c6a4b;
  --light-green: #56bb96;
  --light-green-11: #56bb9611;
  --light-green2: #94d5c0;
  --light-purple: #7c5ea6;
  --light-purple2: #644195;
}

html {
  font-size: 14px;
}

a[href^="/"] {
  text-decoration: none;
}

a, input, label, textarea, .hero__title--home-page {
  font-family: georgia, serif;
}

button {
  position: relative;
  cursor: pointer;
  background-color: #42d82f99;
  border: 2px solid #42d82f33;
  padding: 0.5rem 1rem;
  overflow: hidden;
  border-radius: 10px;
  color: transparent;
  font-family: helvetica, sans-serif;
}

button span {
  color: black;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 1rem;
}

button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--light-green2);
  background-color: #42d82faa;
  top: 100%;
  left: 0;
  transition: 100ms;
}

button:hover:before {
  transition: 300ms;
  top: 0;
}

button:hover, button:active {
  transition: 200ms;
}

button:active, button:focus {
  background: linear-gradient(#2FD8C4cc, #2FD8C4ee);
  outline: none;
}

h1, h2 {
  margin-bottom: 1em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  color: var(--purple);
}

p {
  line-height: 1.5rem;
}

img {
  margin: 0;
}

blockquote {
  font-family: "Alegreya";
  position: relative;
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  min-height: 47px;
  margin: 0.5rem;
  padding: 2rem;
  color: white;
  text-indent: 2.5rem;
  line-height: 22px;
}

blockquote:before {
  content: "";
  background: url("../../images/quote.png") top left no-repeat;
  background-size: 40px 30px;
  width: 40px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 10px;
}

input:focus, textarea:focus {
  outline-color: var(--purple)
}

p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

form {
  margin: 0;
}

.inline-anchor {
  text-decoration: none;
  font-weight: bold;
  color: var(--green)
}
.inline-anchor:hover {
  color: var(--purple)
}

.blockquote--small {
  font-size: 18px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-indent: 2rem;
}
.blockquote--small:before {
  background-size: 30px 20px;
  top: 10px;
  width: 30px;
  height: 21px;
}
.blockquote--small:after {
  background-size: 30px 20px;
  bottom: 0;
  right: 60px;
  width: 30px;
  height: 21px;
}

.blockquote-wrapper {
  padding: 1rem;
}

.app-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
  z-index: -100000000
}

.app-container {
   margin: 0 auto;
   max-width: 1000px;
   padding-top: 5.5rem;
   background-color: white;
}

.container {
  padding: 0 2rem 2rem 2rem;
  position: relative;
  z-index: 0;
}

.container--pad-small {
  padding: 0.75rem;
  padding-top: 0;
}

.container--pad-top, .section--pad-top {
  padding-top: 2rem;
}
.container--pad-bottom-extra, .section--pad-bottom-extra {
  padding-bottom: 6rem;
}

.container--hero {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section {
  position: relative;
  overflow: hidden;
  padding-top: 3rem;
  z-index: 0;
}

.divider {
  height: 5px;
  width: 20%;
  margin-bottom: 3rem;
}

.purple {
  color: var(--purple);
}
.purple0 {
  color: var(--purple0);
}
.purple1 {
  color: var(--purple1)
}
.purple2 {
  color: var(--purple2);
}
.green {
  color: var(--green);
}
.light-green {
  color: var(--light-green);
}
.light-green2 {
  color: var(--light-green2);
}
.light-purple {
  color: var(--light-purple);
}
.light-purple2 {
  color: var(--light-purple2);
}
.green-gray {
  color: var(--green-gray);
}
.white {
  color: white;
}

.bg--white {
  background-color: white;
}
.bg--purple {
  background-color: var(--purple);
}
.bg--green {
  background-color: var(--green);
}
.bg--green1 {
  background-color: var(--green1);
}
.bg--light-green {
  background-color: var(--light-green);
}
.bg--light-green2 {
  background-color: var(--light-green2);
}
.bg--light-purple {
  background-color: var(--light-purple);
}
.bg--green-fade {
  background-color: var(--green-fade-1);
}

.big-lines {
  line-height: 26px;
}

.link {
  color: white;
  text-decoration: none;
}

.background-cover-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-cta-1 {
  background: linear-gradient(#70eeff, #45E9FF);
  background: linear-gradient(#25d195, #009F6B);
  border: none;
  border-radius: 5px;
}

.mobile-hidden {
  display: none;
}

.shadow {
  text-shadow: 2px 6px 6px rgba(0,0,0,0.152);
}

.page-banner {
  width: 100%;
  height: 7rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-banner--pay {
  background-image: url("../../images/flowers2.jpg");
}

.page-banner--packages {
  background-image: url("../../images/flowers4_big.jpg")
}
.page-banner--about {
  background-image: url("../../images/flowers7.jpg")
}

.package-series-list > h3 {
  margin-bottom: 0.5rem;
}
.package-series-list > ul {
  list-style-type: disc;
  margin-left: 2rem;
}
.package-series-list > ul > li{
  margin-bottom: 0.25rem;
}
/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 100;
  margin-bottom: 0;
  background-color: white;
  padding: 1rem;

  -webkit-box-shadow: 0px -3px 21px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -3px 21px 3px rgba(0,0,0,0.5);
  box-shadow: 0px -3px 21px 3px rgba(0,0,0,0.5);
}

.header__inner_container {
  padding-right: 2rem;
  max-width: 1172px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.site-logo {
  height: 3.5rem;
}

.site-logo img {
  height: 100%;
}

.sm-img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

.flex--row {
  display: flex;
  align-items: center;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--space-between {
  justify-content: space-between;
}

.logo-text > h1 {
  font-size: 1.25rem;
}

/* Footer css */
.footer {
  position: relative;
  padding: 1em;
  background-color: white;
  z-index: 0;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.grid-one {
  grid-row: 1;
}
.grid-two {
  grid-row: 2;
}

.footer::before {
  position: absolute;
  background: linear-gradient(#dbdbff, #15ad25ad);
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.footer-about-card {
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0px 2px 12px -5px black; */
  margin-bottom: 2em;
}
.footer-about-card > img {
  height: 200px;
  margin-right: 0.55em;
}

/* Drawer */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70vw;
  background-color: rgb(81, 40, 136);
  transition: 250ms ease-in;
}

.drawer.closed {
  left: -70vw;
}

.hero-text {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.z10 {
  z-index: 10;
}

.slanted-section-decorator {
  height: 70px;
  overflow: hidden;
  z-index: -1;
}
.slanted-section-decorator:after {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100px;
  transform: skewY(-3deg);
  content: "";
  z-index: 0;
}
.slanted-section-decorator--purple:after {
  background-color: rgb(81, 40, 136);
}
.slanted-section-decorator--gold:after {
  background-color: gold;
}

/* CTA buttons */
.contact-cta-button {
  font-size: 18px;
  padding: 0.55em;
  cursor: pointer;
  background-color: rgba(81, 40, 136, 0.2);
  border: 1px solid rgba(81, 40, 136, 0.3);
}

.contact-cta-button:hover {
  background-color: rgba(81, 40, 136, 0.3);
}

.contact-cta-button:hover, .contact-cta-button:active {
  transition: 200ms;
}

.contact-cta-button:active, .contact-cta-button:focus {
  background: linear-gradient(rgba(81, 40, 136, 0.45), rgba(81, 40, 136, 0.5));
  outline: none;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }

  .mobile-hidden: {
    display:initial;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
