.bio-header {
  display: flex;
  margin-bottom: 1rem;
}

.bio__portrait {
  box-sizing: border-box;
  padding-right: 1rem;
  margin: 0;
  width: 15rem;
  height: 20rem;
}

.training ul {
  margin-left: 2em;
}

.training li {
  list-style-type: disc;
}
