.mfr-symptoms {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 1.45rem;
}
.mfr-symptoms__list {
  box-sizing: border-box;
  padding-left: 2rem;
  width: 50%;
  list-style-type: disc;
  margin-bottom: 0;
}

.healing-tools-section h1, .healing-tools-section h2 {
  margin: 2.25rem 0 1.25rem 0;
}
.healing-tools-teaser {
  padding-bottom: 1rem;
}
.healing-tools-teaser > p {
  margin: 0.25rem 0;
}
.healing-tools-teaser > ul {
  margin-top: 1rem;
  margin-left: 3rem;
  list-style-type:square;
}
.healing-tools-teaser > ul > li {
  margin-bottom: 0.25rem;
}
.healing-tools-section button {
  margin-left: 2rem;
}
.section--work-with-me {
  background: linear-gradient(135deg, var(--green), var(--light-green));
}
