.section-background {
  background-image: url("../images/flowers2.jpg");
}

.blur {
  filter: blur(3px);
}

.darken {
  background-color: rgba(81, 40, 136, 0.55);
}

.section-content {
  padding: 2em;
}
